# Ignore everything else
*

# Except this file
!.gitignore

# Required for all users
!LICENSE
!README.md
!TaskShark.exe
!help.png
!shark.ico
!MetroFramework.dll
!MetroFramework.Design.dll
!MetroFramework.Fonts.dll

# Recommended for all users
!setup.bat
!ts.bat
!uninst.bat
!UserGuide.pdf

# Recommended for advanced users
!HISTORY.md
!DevGuide.pdf